openapi: 3.0.0
info:
  title: Uber for Business Codes Places API
  description: The Uber for Business API enables organizations to automate workflows within their enterprise Uber accounts. Provides access to trip invoices, receipts, and business travel data for expense management and reporting.
  version: 1.2.0
  contact:
    name: Uber Developer Support
    url: https://developer.uber.com/support
servers:
- url: https://api.uber.com/v1.2
  description: Production
- url: https://sandbox-api.uber.com/v1.2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Places
  description: Saved rider locations
paths:
  /places/{place_id}:
    get:
      operationId: getPlace
      summary: Get Saved Place
      description: Returns information about a user's saved place, such as home or work.
      tags:
      - Places
      parameters:
      - name: place_id
        in: path
        required: true
        schema:
          type: string
          enum:
          - home
          - work
        description: The name of the place (home or work).
      responses:
        '200':
          description: A place object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Place'
    put:
      operationId: updatePlace
      summary: Update Saved Place
      description: Updates information about a user's saved place.
      tags:
      - Places
      parameters:
      - name: place_id
        in: path
        required: true
        schema:
          type: string
          enum:
          - home
          - work
        description: The name of the place (home or work).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceUpdate'
      responses:
        '200':
          description: Place updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Place'
components:
  schemas:
    Place:
      type: object
      properties:
        address:
          type: string
          description: The formatted address of the saved place.
    PlaceUpdate:
      type: object
      required:
      - address
      properties:
        address:
          type: string
          description: The formatted address of the place to save.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token with business.receipts scope
