openapi: 3.0.0
info:
  title: Uber for Business Codes Orders API
  description: The Uber for Business API enables organizations to automate workflows within their enterprise Uber accounts. Provides access to trip invoices, receipts, and business travel data for expense management and reporting.
  version: 1.2.0
  contact:
    name: Uber Developer Support
    url: https://developer.uber.com/support
servers:
- url: https://api.uber.com/v1.2
  description: Production
- url: https://sandbox-api.uber.com/v1.2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Orders
  description: Eats order receipts
paths:
  /business/orders/{order_id}/receipt:
    get:
      operationId: getOrderReceipt
      summary: Get Order Receipt
      description: Get receipt information for an Uber Eats order within a business account.
      tags:
      - Orders
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the Eats order.
      responses:
        '200':
          description: Receipt details for the Eats order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderReceipt'
        '404':
          description: Order not found.
  /eats/orders/{order_id}:
    get:
      operationId: getOrder
      summary: Get Order
      description: Returns order details for a specific order ID.
      tags:
      - Orders
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the order.
      responses:
        '200':
          description: Order details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
  /eats/orders/{order_id}/accept_pos_order:
    post:
      operationId: acceptOrder
      summary: Accept Order
      description: Accept a pending order within the required acceptance window.
      tags:
      - Orders
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the order.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for accepting the order.
      responses:
        '200':
          description: Order accepted successfully.
  /eats/orders/{order_id}/deny_pos_order:
    post:
      operationId: denyOrder
      summary: Deny Order
      description: Deny a pending order and specify a reason.
      tags:
      - Orders
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the order.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - reason
              properties:
                reason:
                  type: string
                  description: Reason for denying the order.
                reason_details:
                  type: string
                  description: Additional details about the denial reason.
      responses:
        '200':
          description: Order denied successfully.
  /eats/orders/{order_id}/cancel:
    post:
      operationId: cancelOrder
      summary: Cancel Order
      description: Cancel an accepted order.
      tags:
      - Orders
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the order.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - reason
              properties:
                reason:
                  type: string
                  description: Reason for cancellation.
      responses:
        '200':
          description: Order cancelled successfully.
components:
  schemas:
    OrderReceipt:
      type: object
      properties:
        order_id:
          type: string
          description: Unique order identifier.
        store_name:
          type: string
          description: Name of the restaurant.
        placed_at:
          type: string
          format: date-time
          description: Time the order was placed.
        items:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              quantity:
                type: integer
              price:
                type: number
        subtotal:
          type: number
          description: Order subtotal before fees.
        delivery_fee:
          type: number
          description: Delivery fee amount.
        total:
          type: number
          description: Total amount charged.
        currency_code:
          type: string
          description: ISO 4217 currency code.
    Order:
      type: object
      properties:
        id:
          type: string
          description: Unique order identifier.
        external_reference_id:
          type: string
          description: Partner's order reference.
        current_state:
          type: string
          enum:
          - CREATED
          - ACCEPTED
          - FULFILLED
          - DENIED
          - CANCELLED
          description: Current order state.
        store:
          type: object
          properties:
            name:
              type: string
            store_id:
              type: string
        cart:
          type: object
          properties:
            items:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
                  quantity:
                    type: integer
                  price:
                    type: integer
        payment:
          type: object
          properties:
            charges:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  amount:
                    type: number
        placed_at:
          type: string
          format: date-time
          description: Timestamp when order was placed.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token with business.receipts scope
