openapi: 3.0.0
info:
  title: Uber for Business Codes Riders API
  description: The Uber for Business API enables organizations to automate workflows within their enterprise Uber accounts. Provides access to trip invoices, receipts, and business travel data for expense management and reporting.
  version: 1.2.0
  contact:
    name: Uber Developer Support
    url: https://developer.uber.com/support
servers:
- url: https://api.uber.com/v1.2
  description: Production
- url: https://sandbox-api.uber.com/v1.2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Riders
  description: Rider profile and history
paths:
  /me:
    get:
      operationId: getRiderProfile
      summary: Get Rider Profile
      description: Returns information about the Uber account of a user that has authorized with the application.
      tags:
      - Riders
      responses:
        '200':
          description: Profile information for the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiderProfile'
    patch:
      operationId: applyPromotion
      summary: Apply Promotion
      description: Apply a promotional code to the authenticated user's account.
      tags:
      - Riders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                applied_promotion_codes:
                  type: array
                  items:
                    type: string
                  description: Promo codes to apply.
      responses:
        '200':
          description: Promotional code applied successfully.
        '409':
          description: Invalid or already used promotional code.
  /history:
    get:
      operationId: getRideHistory
      summary: Get Ride History
      description: Returns limited data about a user's lifetime activity with Uber.
      tags:
      - Riders
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 5
        description: Number of items to retrieve. Default is 5, maximum is 50.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
        description: Offset the list of returned results by this amount.
      responses:
        '200':
          description: History information for the given user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activities'
components:
  schemas:
    Activities:
      type: object
      properties:
        offset:
          type: integer
          description: Position in pagination.
        limit:
          type: integer
          description: Number of items to retrieve.
        count:
          type: integer
          description: Total number of items available.
        history:
          type: array
          items:
            type: object
            properties:
              uuid:
                type: string
                description: Unique activity identifier.
              status:
                type: string
                description: Status of the activity.
    RiderProfile:
      type: object
      properties:
        first_name:
          type: string
          description: First name of the Uber user.
        last_name:
          type: string
          description: Last name of the Uber user.
        email:
          type: string
          format: email
          description: Email address of the Uber user.
        picture:
          type: string
          format: uri
          description: Image URL of the Uber user.
        promo_code:
          type: string
          description: Promo code of the Uber user.
        uuid:
          type: string
          description: Unique identifier of the Uber user.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token with business.receipts scope
