openapi: 3.0.0
info:
  title: Uber for Business Codes Estimates API
  description: The Uber for Business API enables organizations to automate workflows within their enterprise Uber accounts. Provides access to trip invoices, receipts, and business travel data for expense management and reporting.
  version: 1.2.0
  contact:
    name: Uber Developer Support
    url: https://developer.uber.com/support
servers:
- url: https://api.uber.com/v1.2
  description: Production
- url: https://sandbox-api.uber.com/v1.2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Estimates
  description: Price and time estimates for rides
paths:
  /estimates/price:
    get:
      operationId: getPriceEstimates
      summary: Get Price Estimates
      description: Returns an estimated price range for each product offered at a given location.
      tags:
      - Estimates
      parameters:
      - name: start_latitude
        in: query
        required: true
        schema:
          type: number
          format: double
        description: Latitude component of start location.
      - name: start_longitude
        in: query
        required: true
        schema:
          type: number
          format: double
        description: Longitude component of start location.
      - name: end_latitude
        in: query
        required: true
        schema:
          type: number
          format: double
        description: Latitude component of end location.
      - name: end_longitude
        in: query
        required: true
        schema:
          type: number
          format: double
        description: Longitude component of end location.
      responses:
        '200':
          description: An array of price estimates by product.
          content:
            application/json:
              schema:
                type: object
                properties:
                  prices:
                    type: array
                    items:
                      $ref: '#/components/schemas/PriceEstimate'
  /estimates/time:
    get:
      operationId: getTimeEstimates
      summary: Get Time Estimates
      description: Returns ETAs for all products offered at a given location.
      tags:
      - Estimates
      parameters:
      - name: start_latitude
        in: query
        required: true
        schema:
          type: number
          format: double
        description: Latitude component of start location.
      - name: start_longitude
        in: query
        required: true
        schema:
          type: number
          format: double
        description: Longitude component of start location.
      - name: product_id
        in: query
        required: false
        schema:
          type: string
        description: Unique identifier representing a specific product for a given location.
      - name: customer_uuid
        in: query
        required: false
        schema:
          type: string
        description: Unique customer identifier to be used for experience customization.
      responses:
        '200':
          description: An array of time estimates by product.
          content:
            application/json:
              schema:
                type: object
                properties:
                  times:
                    type: array
                    items:
                      $ref: '#/components/schemas/TimeEstimate'
components:
  schemas:
    TimeEstimate:
      type: object
      properties:
        product_id:
          type: string
          description: Unique identifier representing a specific product for a given location.
        display_name:
          type: string
          description: Display name of product.
        estimate:
          type: integer
          description: ETA for the product in seconds.
    PriceEstimate:
      type: object
      properties:
        product_id:
          type: string
          description: Unique identifier representing a specific product for a given location.
        currency_code:
          type: string
          description: ISO 4217 currency code.
        display_name:
          type: string
          description: Display name of product.
        estimate:
          type: string
          description: Formatted string of estimate in local currency.
        low_estimate:
          type: number
          description: Lower bound of the estimated price.
        high_estimate:
          type: number
          description: Upper bound of the estimated price.
        surge_multiplier:
          type: number
          description: Expected surge multiplier.
        duration:
          type: integer
          description: Expected activity duration in seconds.
        distance:
          type: number
          description: Expected activity distance in miles.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token with business.receipts scope
